/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/******* MOBILE FIRST *******/

header{
    width: 60px;
    height: calc(100vh - 110px);
    background-color: black;
    flex-direction: column;
}


main{
    height: calc(100vh - 110px);
    width: calc(100% - 60px);
    overflow-y: auto;
    background-color: #141922;
    
}

footer{
    height: 110px;
    width: 100%;
    background-color: #282828;
}

a{
    text-decoration: none;
    color: #666a72;
}

ul{
    list-style-type: none;
}

.c-white{
    color: white;
}

.container{
    width: 100%;  
}


.flex{
    display: flex;
}

.p-relative{
    position: relative;
}

/* HOVER */


li:hover .fa-solid,
a:hover{
    color: white;
}

button:hover{
    transform: scale(1.1);
}

.album-img:hover .hover-button{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.album-img:hover img{
    opacity: 60%;
}


/* SECTION HEADER */

.header-nav,
.playlists,
.user{
    height: 100%;
    flex-direction: column;
}

.header-nav h1{
    display: none;
    color: white;
}

.header-nav .logo{
    width: 100%;
    text-align: center;
}

.header-nav img{
    filter: invert(100%);
    padding-top: .5rem;
}

hr,
.user p,
.playlists,
.header-nav ul span{
    display: none;
}

.user,
.menu ul{
    text-align: center;
}

.user ul li,
.menu ul li{
    margin: .8rem 0;
}

.menu i{
    color: #a8acb4;
    font-size: 1.25rem;
}

.user{
    flex-direction: column;
    justify-content: flex-end;
}

.user img{
    width: 25px;
}

#circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: grey;
}

/* SECTION MAIN TOP BAR */

.top-bar{
    width: 100%;
    height: 85px;
    background-color: #080b12;
    padding: 1.5rem .5rem;
    text-align: end;
}

#upgrade-button{
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    padding: .5rem 2rem;
    border-radius: 1.5rem;
    font-weight: bold;
    margin-right: 0.8rem;
}

/* SECTION CATEGORIES */


.list ul{
    text-align: center;
    line-height: 2.6;
}

.list ul li{
    display: inline-block;
    text-transform: uppercase;
    margin: 0 .8rem;
}

/* SECTION RECENTLY PLAYED */

.cat-title{
    margin: 1rem .8rem;
}

h2{
    color: white;
    font-size: 1.8rem;
}

p{
    color: #666a72;
}

.discs{
    flex-wrap: wrap;
    width: 100%;
}

.disc{
   width: calc((100% / 2) - 1.6rem);
   text-align: center;
   margin: .2rem .8rem;
}

.hover-button{
    display: none;
}

.album-img img{
    max-width: 100%;
    margin-bottom: 0.8rem;
}

.album-description h3{
    font-size: 1.2rem;
    color: white;
    margin-bottom: 0.5rem;
}


/* POPULAR ARTISTS */

.popular-artists img{
    border-radius: 50%;
    object-fit: cover;
}


/* FOOTER */

.player{
    height: 100%;
    justify-content: space-between;
}

.song-in-playing,
.set-device{
    width: 25%;
}

.player-function{
    width: 50%;
    justify-content: center;
}

.img-song{
    height: 100%;
    align-items: center;
}

.img-song img{
    height: 40%;
    margin: 0 .8rem;
}

.song-title h4{
    color: white;
    font-size: 1.1rem;
}
.favourite span{
    color: rgb(175, 170, 170);
    font-size: 1rem;
    margin: 0 .8rem;
}

.function-player{
    padding-top: .5rem;
}

.function-player span{
    color: white;
    font-size: 1rem;
    margin: 0 .5rem;
}

.fa-circle-play{
    margin: 0 .8rem;
}

.bar{
    width: 40%;
    height: 10px;
    background-color: grey;
}

.set-device{
    align-items: center;
    justify-content: flex-end;
}

.set-device span{
    font-size: 1.1rem;
    color: white;
    margin: 0 .3rem;
}

@media all and (min-width: 576px){
    
    main{
        width: calc(100% - 233px);
    }

    header{
        width: 233px;
        
    }

    .header-nav .logo{
        text-align: left;
        margin-left: 1.2rem;
    }

    .header-nav h1{
        display: inline-block;
        font-size: 1.85rem;
        
    }

    .header-nav img{
        width: 40px;
        vertical-align: bottom;
    }

    .user,
    .menu ul{
        text-align: left;
        margin: 2rem 1.2rem 0 1.2rem;
    }

    .menu ul span{
        display: inline-block;
    }

    .menu li:first-child span{
        color: white;

    }

    hr,
    .playlists{
        display: block;
    }

    .grey-text{
        font-size: 1.2rem;
    }

    .playlists ul li{
        margin: .8rem .8rem;
    }
    
    .playlists li h3{
        color: white;
        font-size: 1.25rem;
        text-transform: uppercase;
    }

    .playlists li i{
        color: #666a72;
        vertical-align: middle;
        margin-right: 0.5rem;   
    }

    .user p{
        display: inline-block;
        vertical-align: super;
        font-size: 1.2rem;    
    }
}


@media all and (min-width: 768px){
    .disc{
        width: calc((100% / 4) - 1.6rem);  
    } 
}


@media all and (min-width: 992px){

    .container{
        max-width: 1800px;
    }

    .disc{
        margin: 1rem;
        width: calc((100% / 6) - 2rem);
    } 
}


